.menu__global {
  background-color: #ffffff;
  padding-top: 30px;
  padding-bottom: 20px;
  padding-left: 26px;
  padding-right: 36px;

  .topnav__div {
    width: 100%;

    text-align: center !important;

    .navbar-nav {
      width: 100%;
      align-items: center;
      display: flex !important;
      justify-content: center;
      @media (max-width: 1080px) {
        text-align: center;
        justify-content: space-between;
      }
    }
    .nav-link {
    }

    .links {
      border: 0px;
      padding: 0px 20px 0px 20px;
      cursor: pointer;
      font-weight: bold;
      font-size: 16px;
      color: #000;
      text-decoration: none;
      height: 100%;
      margin-top: 0px;
      background-color: transparent;
      -webkit-transition: margin-top 0.2s ease-in-out;
      -moz-transition: margin-top 0.2s ease-in-out;
      -o-transition: margin-top 0.2s ease-in-out;
      transition: margin-top 0.2s ease-in-out;

      &:hover {
        text-decoration: none;
        margin-top: -10px;
        color: #333333;
      }
    }
  }
}
